@model IEnumerable<ClientWeb.Models.mvcProduct>

@{
    ViewData["Title"] = "GetProducts";
}

<h1>Все продукты в холодильнике</h1>

<p>
    <a asp-action="Create">Добавить холодильник</a>
</p>
@if(Model!= null && Model.Count()!=0)
{
    <form asp-action="ChangeCountProducts"> 
        <input type="hidden" name="fridgeId" value = @ViewData["fridgeId"]>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Quantity
                    </th>
                
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <input type="hidden" name="productsId" value = @item.Id>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <input type="number" class="productCount" min="0" name= "productCount" value=@item.Default_quantity>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
   </form>
}
else
{
    <h3>В данном холожильнике нет продуктов</h3>
}
