@model IEnumerable<ClientWeb.Models.mvcFridge>

@{
    ViewData["Title"] = "Index";
}

<h1>Холодильники</h1>

<p>
    <a asp-action="CreateFridge">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FridgeModelId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FridgeModelId)
            </td>
            <td>
                <div class="fridgeButtons" onclick="SendDelete(@item.Id)">Удалить</div>
                <a asp-controller="Fridge" asp-action="GetProducts" class="fridgeButtons" asp-route-id="@item.Id">Продукты</a>
                <a asp-controller="Fridge" asp-action="Edit" class="fridgeButtons" asp-route-id="@item.Id">Изменить</a>
              @{
               /*@Html.ActionLink("Продукты", "~/Fridges", new { id = item.Id})
               @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                 |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })*/
               } 
            </td>
        </tr>
}

    </tbody>
</table>
<script>
    function SendDelete(id)
    {
        if(confirm('Вы действительно хотите удалить этот холодильник?'))
        {
            let ref ="Fridges/Delete/"+id.toString();
            fetch(ref, { method: 'DELETE' })
        }
    }
</script>